apiVersion: v1
kind: Service
metadata:
  name: api
  namespace: todo-app
  labels:
    app: api
spec:
  type: ClusterIP
  selector:
    app: api
  ports:
    - name: http
      port: 5001
      targetPort: 5001
      protocol: TCP
    - name: debug
      port: 5678
      targetPort: 5678
      protocol: TCP
